@model List<IndustryX.WebUI.ViewModels.ProductCardViewModel>

@{
    ViewData["Title"] = "My Wishlist";
}

<div class="my-4">
    <h2 class="text-primary"><i class="fas fa-heart"></i> My Wishlist</h2>
    <hr />

    @if (!Model.Any())
    {
        <div class="alert alert-info">Your wishlist is empty.</div>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    @await Component.InvokeAsync("ProductCard", item)
                </div>
            }
        </div>
    }
</div>
