@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var isAuthenticated = User.Identity?.IsAuthenticated ?? false;
    var isCustomer = User.IsInRole("Customer");
    var isAdmin = User.IsInRole("Admin") || User.IsInRole("SalesManager") || User.IsInRole("Driver") || User.IsInRole("ProductionManager") || User.IsInRole("WarehouseManager");

    if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        ViewData["FullName"] = $"{currentUser?.Firstname} {currentUser?.Surname}";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IndustryX</title>

    <script src="https://kit.fontawesome.com/3702fdc5dc.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @if (!isAuthenticated || isCustomer)
    {
        <!-- SALES LAYOUT -->
        @await Html.PartialAsync("_SalesNavbar")

        <div class="container mt-4">
            <main role="main">
                @RenderBody()
            </main>
            @await Html.PartialAsync("_AlertPartial")
        </div>
    }
    else if (isAdmin)
    {
        @await Html.PartialAsync("_AdminNavbar")

        <div class="ms-250 ps-4 pt-4" style="margin-left: 250px;">
            <main>
                @RenderBody()
            </main>
            @await Html.PartialAsync("_AlertPartial")
        </div>
    }

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>

    <script src="~/js/barcodeGenerator.js" asp-append-version="true"></script>
    <script src="~/js/barcodePdf.js" asp-append-version="true"></script>
    <script src="~/js/exportExcel.js" asp-append-version="true"></script>
    <script src="~/js/urlGenerator.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
